spring:
  application:
    name: micro-Sales-v1   # nombre del servicio en Eureka (puedes cambiarlo)
  datasource:
    url: jdbc:mysql://localhost:3306/biblioteca?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
    username: usuario
    password: usuario123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always

server:
  port: 8083   # el puerto de tu microservicio

eureka:
     client:
      service-url:
       defaultZone: http://localhost:8761/eureka
     instance:
     instance-id: ${spring.application.name}:${server.port}